body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Hiragino Sans, Meiryo, sans-serif;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em 10px 4em 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}

p {
    margin-top: 1.2rem;
}

ul, ol {
    margin-top: 1.2rem;
}

li, li > ul, li > ol {
    margin-top: 0.5rem;
}

img, video {
    height: auto;
    max-width: 100%;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #161821;
        color: #d2d4de;
    }
    a {
        color: #91acd1;
    }
}
