body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Hiragino Sans, Meiryo, sans-serif;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em 10px 4em 10px;
}

img {
    max-width: 100%;
}

h1 {
    margin-top: 1.5em;
}
h2 {
    margin-top: 2em;
}

li + li, ul + li, li + ul {
    margin-top: 0.5em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #161821;
        color: #d2d4de;
    }
    a {
        color: #91acd1;
    }
}
