.identity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}
.identity h1 {
    margin: 0;
}
.identity-aka {
    text-align: center;
}
.identity-section {
    margin-bottom: 4rem;
}

table.links td:first-child {
    text-align: right;
}
