#center_logo {
    text-align: center;
}

#special_thanks {
    margin-top: 80px;
}

#footer {
    background-color: #CCC;
    width: 100%;
    text-align: center;
    margin: 20px 0 0;
}

#footer p {
    margin: 0;
    line-height: 2.5;
    font-size: 80%;
}
